<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>运维管理平台</title>
	<link rel="stylesheet" type="text/css" href="/easyui/themes/default/easyui.css">
	<link rel="stylesheet" type="text/css" href="/easyui/themes/icon.css">
	<script type="text/javascript" src="/easyui/jquery.min.js"></script>
	<script type="text/javascript" src="/easyui/jquery.easyui.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/css/buttons.css">
</head>
<body class="easyui-layout">
		<div data-options="region:'south',split:true" style="height:50px;"></div>
		<div data-options="region:'east',split:false" title="设置" style="width:200px;"></div>
		<div data-options="region:'west',split:true,href:'left'" title="菜单项" style="width:300px;"></div>
		<div data-options="region:'center',title:'一键运维',iconCls:'icon-ok',split:true"></div>
</body>
</html>